p {
    margin-left: 25%;
    padding: 10px;
}

#dotSelectorImg {
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 30%;
    right: 50%;
}

#hashtagSelectorImg {
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 30%;
    right: 50%;
}

#cssLinkImg {
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 30%;
    right: 50%;
}